.App {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  max-width: 60%;
  background-color: rgb(222, 222, 228);
  margin: 30px auto;
  padding: 10px;
  border-radius: 7px;
}

footer {
  color: #2b3e58;
  font-size: 12px;
}
