.App {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  max-width: 1000px;
  background-color: rgb(222, 222, 228);
  margin: 30px auto;
  padding: 10px;
  border-radius: 7px;
}

footer {
  color: rgb(7, 8, 10, 0.7);
  font-size: 12px;
  text-align: center;
  font-weight: 200;
}

footer a {
  text-decoration: none;
  color: rgb(7, 8, 10, 0.7);
  font-weight: 400;
  cursor: pointer;
}
